In [4]:
import pandas as pd

In [5]:
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)

In [6]:
Iris=pd.read_csv("ML_HW_Data_FisherIris.csv",header=None)

In [7]:
print(Iris.shape)# total number of rows and columns

(150, 5)

In [8]:
print(Iris.index[Iris.iloc[:, 4] < 0]) #5th column less than 0

Index([10, 23, 58, 89, 108, 136], dtype='int64')

In [9]:
Iris = Iris[Iris.iloc[:, 4] >= 0] # keep only rows having 5th column greater than 0

In [10]:
print(Iris.shape)

(144, 5)

In [11]:
X = Iris.iloc[:, 0:4] # first 4 columns from Iris

In [12]:
Y = Iris.iloc[:, 4] # 5th column from Iris

In [13]:
print(X.max())

0    25
1    69
2    44
3    79
dtype: int64

In [14]:
print(X.min())

0     1
1    10
2    20
3    43
dtype: int64

In [15]:
print(len(X[X.iloc[:, 2] > 36])) #number of elements in 3 rd column of X that have value greater than 36

15